  <!-- single Fattura edit template - also used by the create route -->

  <script type="text/x-handlebars" id="fattura/edit">
    <div class="row">
      {{#if deleteMode}}
      <div class="confirm-box">
          <h5>Really?</h5>
          <button {{action "confirmDelete"}}> yes </button>
          <button {{action "cancelDelete"}}> no </button>
      </div>
      {{/if}}
      <div class="large-12 columns">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Nome Fattura</th>
          </tr>
          <tr>
            <td>{{input valueBinding=name}}</td>
            <td><button {{action "save"}}> Send </button></td>
            <td><button {{action "delete"}}> Delete </button></td>
            <td>Num Trans {{numberTransactions}}</td>
            <td>Trans Selected {{transactionsChecked}}</td>
          </tr>
          {{#each model.transactions}}
            {{#unless isDeleted}}
          <tr>
            <td>Seleeziona</td>
            <td>Merce</td>
            <td>Tariffa</td>
            <td>Totale</td>
            <td>Iva %</td>
            <td>Iva</td>
            <td>Totale</td>
            <td></td>
          </tr>
          <tr>
            <td>{{input type="checkbox" value="isChecked" checked=isChecked}}</td>
            <td>{{view Em.TextField type="number" min="1" value=quantita}}</td>
            <td>{{view Ember.Select prompt="Tariffa" content=controller.selectContentTariffa optionValuePath="content.value" optionLabelPath="content.label" value=tariffa}}</td>
            <td>{{netto}}</td>
            <td>{{view Ember.Select prompt="Iva" content=controller.selectContentIva optionValuePath="content.value" optionLabelPath="content.label" value=iva}}</td>
            <td>{{ivamount}}</td>
            <td>{{lordo}}</td>
          </tr>
            {{/unless}}
          {{/each}}
          <tr>
          <td><button {{action "add"}}>Add</button></td>
          <td><button {{action "remove"}}>Remove</button></td>
          <td>Total</td>
          <td>{{transactionsAmounts}}</td>
          <td>Total Iva</td>
          <td>{{transactionsIvas}}</td>
          <td></td>
          </tr>
        </table>
      </div>
  </script>