 <script type="text/x-handlebars" id='fatturas'>
  <div class="row">
      <div class="large-12 columns">
        {{#link-to "fatturas.create" class="create-btn"}} Add Fattura {{/link-to}}
      </div>

      <div class="large-12 columns">
        Fatturas: {{fatturasCount}}
      </div>

      <div class="large-12 columns">

        <ul class="fatturas-listing">
            {{#each fattura in model}}
            <li>
                {{#link-to "fattura" fattura}}
                    {{fattura.name}}
                {{/link-to}}
            </li>
            {{else}}
            <li>no fatturas… :(</li>
            {{/each}}
        </ul>
      </div>
      
      {{outlet}}
  </div>
  </script>

  <!-- single fattura template -->
  <script type="text/x-handlebars" id="fattura">
      <div class="fattura-profile">
          {{#if deleteMode}}
          <div class="confirm-box">
              <h5>Really?</h5>
              <button {{action "confirmDelete"}}> yes </button>
              <button {{action "cancelDelete"}}> no </button>
          </div>
          {{/if}}

          <button {{action "edit"}}>Edit</button>
          <button {{action "delete"}}>Delete</button>

          <h2>{{name}}</h2>
          <table>
            <tr>
              <th>Quantita</th>
              <th>Tariffa</th>
              <th>Totale</th>
              <th>Iva %</th>
              <th>Iva</th>
              <th>Totale + Iva</th>
            </tr>
            {{#each transactions}}
              <tr>
                <td>{{controller.quantita}}</td>
                <td>{{controller.tariffa}}</td>
                <td>{{view "total"}}</td>
                <td>{{controller.iva}}</td>
                <td>{{view "ivamount"}}</td>
                <td>{{risultatofinale}}</td>
              </tr>
            {{/each}}
          </table>

      </div>
      
      {{outlet}}
  </script>

  <!-- single Fattura edit template - also used by the create route -->

  <script type="text/x-handlebars" id="fattura/edit">
      <div class="fattura-edit">
       <table class="table table-bordered table-hover">
        <tr>
          <th>Nome Fattura</th>
        </tr>
        <tr>
          <td>{{input valueBinding=name}}</td>
          <td><button {{action "save"}}> Send </button></td>
          <td></td>
          <td></td>
        </tr>
        {{#each model.transactions}}
          <tr>
            <td>Seleeziona</td>
            <td>Merce</td>
            <td>Tariffa</td>
            <td>Totale</td>
            <td>Iva %</td>
            <td>Iva</td>
            <td>Totale</td>
            <td></td>
          </tr>
          <tr>
            <td>{{input type="checkbox" value="isChecked" checked=isChecked}}</td>
            <td>{{view Em.TextField type="number" min="1" value=controller.quantita}}</td>
            <td>{{view Ember.Select prompt="Tariffa" content=controller.selectContentTariffa optionValuePath="content.value" optionLabelPath="content.label" value=controller.tariffa}}</td>
            <td>{{view "total"}}</td>
            <td>{{view Ember.Select prompt="Iva" content=controller.selectContentIva optionValuePath="content.value" optionLabelPath="content.label" value=controller.iva}}</td>
            <td>{{view "ivamount"}}</td>
            <td>{{view "risultato"}}</td>
            <td></td>
          </tr>
         {{/each}}
         <tr>
          <td><button {{action "add"}}>Add New Transaction</button></td>
         </tr>
      </div>
  </script>


  <script type="text/x-handlebars" data-template-name="total">
    {{view.total}}
  </script>

  <script type="text/x-handlebars" data-template-name="ivamount">
    {{view.ivamount}}
  </script>

  <script type="text/x-handlebars" data-template-name="risultato">
    {{view.risultato valueBinding=risultatofinale}}
  </script>
