 <script type="text/x-handlebars" id='fatturas'>
  <div class="row">
      <div class="large-12 columns">
        {{#link-to "fatturas.create" class="create-btn"}} Add Fattura {{/link-to}}
      </div>

      <div class="large-12 columns">
        Fatturas: {{fatturasCount}}
      </div>

      <div class="large-12 columns">

        <ul class="fatturas-listing">
            {{#each fattura in model}}
            <li>
                {{#link-to "fattura" fattura}}
                    {{fattura.name}}
                {{/link-to}}
            </li>
            {{else}}
            <li>no fatturas… :(</li>
            {{/each}}
        </ul>
      </div>
      
      {{outlet}}
  </div>
  </script>

  <!-- single fattura template -->
  <script type="text/x-handlebars" id="fattura">
      <div class="fattura-profile">
          {{#if deleteMode}}
          <div class="confirm-box">
              <h5>Really?</h5>
              <button {{action "confirmDelete"}}> yes </button>
              <button {{action "cancelDelete"}}> no </button>
          </div>
          {{/if}}

          <button {{action "edit"}}>Edit</button>
          <button {{action "delete"}}>Delete</button>

          <h2>{{fattura.name}}</h2>
          <table>
            <tr>
              <th>Quantita</th>
              <th>Tariffa</th>
              <th>Totale</th>
              <th>Iva %</th>
              <th>Iva</th>
              <th>Totale + Iva</th>
            </tr>
            <tr>
              <td>{{transaction.quantita}}</td>
              <td>{{transaction.selectContentTariffa}}</td>
              <td>{{totale}}</td>
              <td>{{item.selectContentIva}}</td>
              <td>{{item.ivamount}}</td>
              <td>{{item.risultatofinale}}</td>
            </tr>
          </table>

      </div>
      
      {{outlet}}
  </script>

  <!-- single Fattura edit template - also used by the create route -->

  <script type="text/x-handlebars" id="fattura/edit">
      <div class="fattura-edit">
       <table class="table table-bordered table-hover">
        <tr>
          <th>Nome Fattura</th>
        </tr>
        <tr>
          <td>{{input valueBinding=name}}</td>
          <td><button> + </button></td>
          <td><button> - </button></td>
          <td><button {{action "save"}}> Send </button></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Merce</td>
          <td>Tariffa</td>
          <td>Totale</td>
          <td>Iva %</td>
          <td>Iva</td>
          <td>Totale</td>
        </tr>
        <tr>
          <td>{{view Em.TextField type="number" min="1" valueBinding=newTransaction.quantita}}</td>
          <td>{{view Ember.Select prompt="Tariffa" content=controller.selectContentTariffa optionValuePath="content.value" optionLabelPath="content.label" valueBinding=newTransaction.selectContentTariffa}}</td>
          <td>{{view "total"}}</td>
          <td>{{view Ember.Select prompt="Iva" content=controller.selectContentIva optionValuePath="content.value" optionLabelPath="content.label" valueBinding=newTransaction.selectContentIva}}</td>
          <td>{{view "iva"}}</td>
          <td>{{view "risultato"}}</td>
        </tr>
      </div>
  </script>


  <script type="text/x-handlebars" data-template-name="total">
    {{view.total valueBinding=newTransaction.total}}
  </script>

  <script type="text/x-handlebars" data-template-name="iva">
    {{view.iva valueBinding=newTransaction.iva}}
  </script>

  <script type="text/x-handlebars" data-template-name="risultato">
    {{view.risultato valueBinding=newTransaction.risultatofinale}}
  </script>
