<script type="text/x-handlebars" data-template-name='transactions'>
  <div class="row">
    <div class="large-12 columns">
      {{#link-to "transactions.create" class="button"}}Aggiungi riga attività{{/link-to}}
    </div>
  </div>
</script>

