 <script type="text/x-handlebars" data-template-name="index">
  <div class="row">
    <div class="large-6 columns">
      <h3>View Invoices</h3>        
        <ul class="fatturas-listing">
            {{#each fattura in model}}
            <li>
                {{#link-to "fattura" fattura}}
                    {{fattura.name}}
                {{/link-to}}
            </li>
            {{else}}
            <li>no fatturas… :(</li>
            {{/each}}
        </ul>
    </div>
    <div class="large-6 columns">
      <h3>Edit Invoices</h3>       
        <ul class="fatturas-listing">
            {{#each fattura in model}}
            <li>
                {{#link-to "fattura.edit" fattura}}
                    {{fattura.name}}
                {{/link-to}}
            </li>
            {{else}}
            <li>no fatturas… :(</li>
            {{/each}}
        </ul>
    </div>
    <div class="large-12 columns">
      Fatturas: {{fatturasCount}}
    </div>
    <div class="large-12 columns">
      {{#link-to "fatturas.create" class="create-btn"}} Add Fattura {{/link-to}}
    </div>     
  </div>
  </script>

  <script type="text/x-handlebars" data-template-name="components/date-mask">
    <div {{bind-attr class="form-group validState"}}>
      {{input class="date form-control" value=value}}
      <p class="info">*Format: YYYY-MM-DD</p>
    </div>
  </script>


