<script type="text/x-handlebars" data-template-name='transactions'>
  <div class="row">
    <div class="large-12 columns">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Merce</th>
          <th>Tariffa</th>
          <th>Tot Imponibile</th>
          <th>Iva %</th>
          <th>Iva</th>
          <th>Totale</th>
        </tr>
        {{#each item in model}}
          {{#if item.editable}}
           <tr>
             <td>{{view Ember.TextField valueBinding=item.quantita type="number" min ="1" autofocus="autofocus"}}</td>
             <td>{{view Ember.Select prompt="Tariffa" content=controller.selectContentTariffa optionValuePath="content.value" optionLabelPath="content.label" valueBinding="item.selectContentTariffa"}}</td>
             <td>{{view Em.TextField valueBinding=item.totale}}</td>
             <td>{{view Ember.Select prompt="Iva" content=controller.selectContentIva optionValuePath="content.value" optionLabelPath="content.label" valueBinding="item.selectContentIva"}} </td>
             <td>{{view Em.TextField valueBinding=item.iva}}</td>
             <td>{{view Em.TextField valueBinding=item.risultato}}</td>
             <td><button {{action update item}}>Update</button></td>
           </tr>
          {{else}}
          <tr>
            <td>{{item.quantita}}</td>
            <td>{{item.selectContentTariffa}}</td>
            <td>{{item.totale}}</td>
            <td>{{item.selectContentIva}}</td>
            <td>{{item.iva}}</td>
            <td>{{item.risultato}}</td>
            <td>
              <button {{action edit item}}>Edit</button>
            </td>
            <td>
              <button {{action remove item}}>Delete</button>
            </td>
          </tr>
          {{/if}}
        {{/each}}
        <tr>
          <td>{{view Em.TextField type="number" min="1" valueBinding=newThread.quantita}}</td>
          <td>{{view Ember.Select prompt="Tariffa" content=selectContentTariffa optionValuePath="content.value" optionLabelPath="content.label" valueBinding=newThread.selectContentTariffa}}</td>
          <td>{{#view "totale"}}{{total}}{{/view}}</td>
          <td>{{view Ember.Select prompt="Iva" content=selectContentIva optionValuePath="content.value" optionLabelPath="content.label" valueBinding=newThread.selectContentIva}}</td>
          <td>{{view Em.TextField valueBinding=newThread.iva }}</td>
          <td>{{view Em.TextField valueBinding=newThread.risultato }}</td>
          <td><button {{action add item}}>Add</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <table class="table table-bordered table-hover">
        <tr>
          <th id="first">Totale Imponibile</th>
          <th>{{view Em.TextField valueBinding=newThread.iva }}</th>
          <th id="third">Totale Iva</th>
          <th>{{view Em.TextField valueBinding=newThread.iva }}</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </table>
    </div>
  </div>
</script>

