<script type="text/x-handlebars" data-template-name='transactions'>
  <div class="row">
    <div class="large-12 columns">
    	<table class="table table-bordered table-hover">
    		<tr>
          <th>Quantita Merce</th>
          <th>Tariffa</th>
          <th>Totale Imponibile</th>
          <th>Iva %</th>
          <th>Iva</th>
          <th>Totale</th>
        </tr>
    		{{#each model}}
    			{{#if editable}}
    			 <tr>
             <td>{{view Ember.TextField valueBinding=quantita type="number" min ="1" autofocus="autofocus"}}</td>
             <td>{{view Ember.Select prompt="Seleziona Tariffa" content=tariffa}}</td>
             <td>{{view Em.TextField valueBinding=totale}}</td>
             <td>{{view Ember.Select prompt="Iva" content=perc}}</td>
             <td>{{view Em.TextField valueBinding=iva}}</td>
             <td>{{view Em.TextField valueBinding=totale}}</td>
             <td><button {{action update this}}>Update</button></td>
           </tr>
    			{{else}}
    			<tr>
            <td>{{quantita}}</td>
            <td>{{tariffa}}</td>
            <td>{{imponibile}}</td>
            <td>Iva %</td>
            <td>{{totale}}</td>
            <td>{{totale}}</td>
            <td >
              <button {{action edit this}}>Edit</button>
            </td>
            <td>
              <button {{action remove this}}>Delete</button>
            </td>
          </tr>
    			{{/if}}
    		{{/each}}
    		<tr>
          <td>{{view Em.TextArea valueBinding=newThread.quantita}}</td>
          <td>{{view Ember.Select prompt="Seleziona Tariffa" content=tariffa}}</td>
          <td>{{view Em.TextField valueBinding=totale}}</td>
          <td>{{view Ember.Select prompt="Iva" content=perc}}</td>
          <td>{{view Em.TextField valueBinding=newThread.totale }}</td>
          <td>{{view Em.TextField valueBinding=newThread.totale }}</td>
          <td><button {{action add this}}>Add</button></td>
        </tr>
    	</table>
    </div>
  </div>
</script>

