<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js • TodoMVC</title>
    <%#= javascript_include_tag 'application' %>
    <%= javascript_include_tag "templates/todos" %>
  </head>
  <body>
    
  </body>
</html>