<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js</title>
    <%#= javascript_include_tag 'application' %>
    <%= javascript_include_tag "templates/todos" %>
  </head>
  <body>

  <script type="text/x-handlebars">
    <section id="portfolio">
      <header id="header">
        <h2>Title</h2>
        {{#active-li currentWhen="about"}}
          {{link-to 'About' 'about'}}
        {{/active-li}}
        {{#active-li currentWhen="work"}}
          {{link-to 'Work' 'work'}}
        {{/active-li}}
        {{#active-li currentWhen="skills"}}
          {{link-to 'Skills' 'skills'}}
        {{/active-li}}
        {{#active-li currentWhen="blog"}}
          {{link-to 'Blog' 'blog'}}
        {{/active-li}}
        {{#active-li currentWhen="people"}}
          {{link-to 'Person' 'people.person'}}
        {{/active-li}}
      </header>
      <section id="main">
        {{outlet}}
      </section>
      <footer id="footer">
       <hr>
        This is the footer
      </footer>
    </section>
  </script>
  
  <script type="text/x-handlebars" data-template-name="about">
    About 
  </script>
  
  <script type="text/x-handlebars" data-template-name="work">
    work<br>
    {{link-to 'Web' 'work.web'}}
    {{link-to 'Front-end' 'work.front-end'}}
    {{link-to 'Photography' 'work.photography'}}
  </script>
  
  <script type="text/x-handlebars" data-template-name="skills">
    skills
  </script>

  <script type="text/x-handlebars" data-template-name="blog">
    blog
  </script>

  <script type="text/x-handlebars" data-template-name="people/person">
    person<br>
    {{link-to 'Visit /people' 'people'}}
  </script>

  <script type="text/x-handlebars" data-template-name="people/index">
    people<br>
    {{link-to 'Visit /people/person' 'people.person'}}
  </script>
    
  </body>
</html>