<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js</title>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <%= render 'transactions' %>

    <div class="row">
      <div class="large-4 columns">
        <h1>Logo</h1>
      </div>
      <div class="large-8 columns">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p>Intestazione Società - GETHER S.a.S. di Colotto Filippo & C.</p>
        <p>Piazza Pinelli 9/3 – 16124 - Genova] [010.8904437] [filippocolotto@gethersas.it]</p>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
        <ul class="vcard">
          <li class="fn">Filippo Colotto</li>
          <li class="street-address">123 Indirizzo</li>
          <li class="locality">Genova</li>
          <li><span class="state">Codice Postale</span>, <span class="zip">12345</span></li>
          <li class="email"><a href="#">myemail@example.com</a></li>
        </ul>
      </div>
      <div class="large-4 columns">
        <dl>
          <dt>Fattura n. XX</dt>
          <dd>DD/MM/YYYY</dd>
        </dl>
      </div>
    </div>

  </body>
</html>