<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js</title>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

  <script type="text/x-handlebars" id="application">
      <div id="your-app">
          <h3>Hello World</h3>
          {{outlet}}
      </div>
  </script>


  <script type="text/x-handlebars" id='fatturas'>
      {{#link-to "fatturas.create" class="create-btn"}} Add Fattura {{/link-to}}

      <div>Fatturas: {{fatturasCount}}</div>

      <ul class="fatturas-listing">
          {{#each fattura in controller}}
          <li>
              {{#link-to "fattura" fattura}}
                  {{fattura.name}}
              {{/link-to}}
          </li>
          {{else}}
          <li>no fatturas… :(</li>
          {{/each}}
      </ul>
      
      {{outlet}}
  </script>

  <!-- single fattura template -->
  <script type="text/x-handlebars" id="fattura">
      <div class="fattura-profile">
          {{#if deleteMode}}
          <div class="confirm-box">
              <h5>Really?</h5>
              <button {{action "confirmDelete"}}> yes </button>
              <button {{action "cancelDelete"}}> no </button>
          </div>
          {{/if}}

          <button {{action "edit"}}>Edit</button>
          <button {{action "delete"}}>Delete</button>

          <img>
          <h2>{{name}}</h2>
      </div>
      
      {{outlet}}
  </script>

  <!-- single Fattura edit template - also used by the create route -->

  <script type="text/x-handlebars" id="fattura/edit">
      <div class="fattura-edit">
          <div>
              <label>Fattura name</label>
              {{input value=name}}
          </div>
          <div>
              <br/>
              <button {{action "save"}}> ok </button>
          </div>
      </div>
  </script>