  // <script type="text/x-handlebars">
  //   <h2> Welcome to Ember.js</h2>
  //   {{#active-li currentWhen="people"}}
  //     {{link-to 'Person' 'people.person'}}
  //   {{/active-li}}
  //   {{#active-li currentWhen="index"}}
  //     {{link-to 'Index' 'index'}}
  //   {{/active-li}}
  //   <hr>
    
  //   {{outlet}}
  // </script>

