html,
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #eaeaea;
}

li.active {
  background: #f3d2d2;
}

p {
  line-height: 0.5em;
}

table tbody tr th {
  width: 12.5%
}


